<h1>Tic Tac Toe</h1>
<!--<FORM METHOD="LINK" ACTION="/game/create_game">-->
  <!--<INPUT TYPE="submit" VALUE="Start Game">-->
<!--</FORM>-->

<%= link_to "Start Game", :controller => :game, :action => :create_game %>